@font-face {
    font-family: 'vazir';
    src: url('../../assets/Vazir.ttf');
}
.box-right , h1{
    font-family: vazir;
    font-weight: bold;
}
.box-con{
    margin: auto;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.copy{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(1, 1, 64);
    color: white;
}