div a.app {
  color: black;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px 20px;
  background-color: #ffc0cb;
  font-weight: bold;
  display: block;
  text-decoration: none;
  transition: 0.5s;
}
div a.app:hover{
  color: white;
  background-color: #946474;
}
